@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
    color: #111111;
    font-weight: 400;
}
.hind{
    font-family: "Hind Madurai", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.container{
    @apply mx-auto px-[3.75rem] max-w-[1920px];
}
.copyBtn{
    @apply w-full p-2.5 flex items-center leading-[1.1] justify-center gap-2 text-base text-[#5C5C5C] rounded-lg cursor-pointer border border-[#D4D6D5] transition-all hover:bg-[#e1e1e1];
}
.callBtn{
    @apply w-full p-2.5 bg-[#00A63E] hover:bg-[#048634] text-white flex items-center leading-[1.1] justify-center gap-2 text-base rounded-lg cursor-pointer border border-[#00A63E] transition-all;
}